/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns styling*/
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

/* Left Column */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}

/* Product Description */
.keyboard-description {
    border-bottom: 3px solid #E1E8EE;
    margin-bottom: 15px;
}

.keyboard-description span {
    font-size: 12px;
    color: #0d6c6c;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: black;
}
.keyboard-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #4247ce;
    letter-spacing: -2px;
}
.keyboard-description p {
    font-size: 16px;
    font-weight: 500;
    color: #43474D;
    line-height: 24px;
}

/* Product Album */
.product-image {
    margin-top: 10px;
    margin-bottom: 10px;
}
.album {
    margin-top: 7px;
    display: flex;
}
#box,
#front,
#side,
#zoomed {
    flex: 1;
}

/* Product Image */
.product-image {
    margin-bottom: 30px;
}
.album div {
    display: inline-block;
}
.album input {
    display: none;
}
.album input + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
}
.album input + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
.album #box + label span {
    background-color: #0d6c6c;
}
.album #front + label span {
    background-color: #314780;
}
.album #side + label span {
    background-color: #86939E;
}
.album #zoomed + label span {
    background-color: coral;
}
.album :checked + label span {
    background-image: url("1200px-OOjs_UI_icon_check-constructive.svg.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Switches Configuration */
.switch-choose {
    margin-bottom: 20px;
}
.switch-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.switch-choose button:hover,
.switch-choose button:active,
.switch-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
}

.switch-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.switch-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}
.switch-config a:before {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}
/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}
.cart-button {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-button:hover {
    background-color: darkgoldenrod;
}

/* Responsiveness */
@media (max-width: 940px) {
    .product_container {
        flex-direction: column;
        margin-top: 60px;
    }
    .left-column,
    .right-column {
        width: 100%;
    }
    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}