/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns styling*/
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

/* Left Column */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}

/* Product Description */
.keyboard-description {
    border-bottom: 3px solid #E1E8EE;
    margin-bottom: 15px;
}

.keyboard-description span {
    font-size: 12px;
    color: #0d6c6c;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: black;
}
.keyboard-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #4247ce;
    letter-spacing: -2px;
}
.keyboard-description p {
    font-size: 16px;
    font-weight: 500;
    color: #43474D;
    line-height: 24px;
}

/* Product Album */
.product-image {
    margin-top: 10px;
    margin-bottom: 10px;
}
.album {
    margin-top: 7px;
    display: flex;
}
#box,
#front,
#side,
#zoomed {
    flex: 1;
}

/* Product Image */
.product-image {
    margin-bottom: 30px;
}
.album div {
    display: inline-block;
}
.album input {
    display: none;
}
.album input + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
}
.album input + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
.album #box + label span {
    background-color: #0d6c6c;
}
.album #front + label span {
    background-color: #314780;
}
.album #side + label span {
    background-color: #86939E;
}
.album #zoomed + label span {
    background-color: coral;
}
.album :checked + label span {
    background-image: url("1200px-OOjs_UI_icon_check-constructive.svg.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Switches Configuration */
.switch-choose {
    margin-bottom: 20px;
}
.switch-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.switch-choose button:hover,
.switch-choose button:active,
.switch-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
}

.switch-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.switch-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}
.switch-config a:before {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}
/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}
.cart-button {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-button:hover {
    background-color: darkgoldenrod;
}

/* Responsiveness */
@media (max-width: 940px) {
    .product_container {
        flex-direction: column;
        margin-top: 60px;
    }
    .left-column,
    .right-column {
        width: 100%;
    }
    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer-address {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer-logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer-address h3 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .navigation-title {
    font-weight: 400;
    font-size: 25px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer-email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer-navigation {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer-navigation > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .navigation-ul a {
    color: #999;
  }
  
  .navigation-ul-extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal-links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal-links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer-navigation > * {
      flex: 1;
    }
    
    .navigation-item-extra {
      flex-grow: 2;
    }
    
    .footer-address {
      flex: 1 0px;
    }
    
    .footer-navigation {
      flex: 2 0px;
    }
  }